@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Exchange Rate</h1>
    <div>

    </div>
    <p>Currency converter - Base ZAR to other currencies.</p>

    <div class="form-group row">
        
    </div>

    <table>
        <tr>
            <td style="margin-left:initial"><b>Amount</b></td>
            <td style="margin-left:initial"><b>From</b></td>
            <td style="margin-left:initial"><b>To</b></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="1.00" />&nbsp;&nbsp;</td>
            <td> <input type="text" placeholder="ZAR" />&nbsp;-> &nbsp;</td>
            <td> <input type="text" placeholder="Other" /></td>
        </tr>
    </table>
     <br />
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="margin-left:initial"><button type="submit" value="Convert">Convert</button></td>
            <td></td>
            <td></td>

        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td style="margin-left:initial">
                <label id="zarId"> South African Rand = </label>
            </td>
            <td></td>
            <td></td>
        </tr>   
        <tr>
           <td>
              <label id="OtherCurrencyValue"></label> <label id="currencyId"></label>
           </td>
        </tr>
    </table>
       
        <div>
            <h6>We use the mid-market rate for our Converter.</h6>
        </div>
    

</div>
